*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

:root{
    --bg-primary-color:#1a1a1a;
    --bg-color:#242323;
    --text-color:rgb(231, 228, 228);
    --bg-image-color:rgb(228, 228, 5);
}

body{
    background-color: var(--bg-primary-color);
    color:var(--text-color);
}

.center{
    position: absolute;
    height: 60%;
    width: 60%;
    transform: translate(-50%,-50%);
    background-color:var(--bg-color) ;
    top:50%;
    left:50%;
   border:2px solid #2a2a2a;
    border-radius: 20px;
    
    
}

.text-center{
    display: flex ;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    font-size: 50px;
     padding-top:80px;
    line-height: 100px;
}

.imagediv{
    position: absolute;
    pointer-events: none;    
    transform: translate(-50%, -120%);
    width: 200px; 
    height: 250px;
    overflow: hidden;
}


.imagediv img {
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

